@import "../utils/variables";

* {
    font-family: $main-font;
    -webkit-font-smoothing: antialiased;
}

p {
    font-size: 14px;
}




@media (min-width: $screen-sm-min) {
    p {
        font-size: 16px;
    }
}